
// .dark-mode {
//   background-color: rgb(58, 58, 58);
//   color: white;
// }

// .dark-mode-projects {
//   background-color: rgb(58, 58, 58);
//   h1, h2 {
//     color:white;
//   }
// }

// .darkmode {
//   cursor:pointer
// }


#dark {
  width: 30px;
  height: 30px;
  vertical-align:middle;
  font-size: 10px !important;
}
